<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
		
	<!-- 开启MVC注解 -->	
	<mvc:annotation-driven />	
	
	<!-- 处理静态资源映射 -->
	<mvc:default-servlet-handler/>
	<mvc:resources location="/static/" mapping="/static/**"/>
	<mvc:resources location="*" mapping="*"/>
    
    <!-- 默认首页 -->
    <mvc:view-controller path="/" view-name="redirect:/index5"/>
    
    <!-- 自动扫描特定注解类并纳入容器管理 -->
    <context:component-scan base-package="com.ganhuo.app.web.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
    
    <!--通用视图解析器 -->
    <bean id="viewResolverCommon" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
     	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/view/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>
    </bean>
    
    <!-- 配置文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为1MB -->
		<property name="maxUploadSize">
			<!-- Spring EL -->
			<value>#{1024*1024 * 24}</value>
		</property>
	</bean>
	
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- /* 不含子目录  /**含子目录  例如访问的是: /a/b 那么/*不会拦截 /**就会-->
			<mvc:mapping path="/**"/> 
			<mvc:exclude-mapping path="/static/**" />
            <mvc:exclude-mapping path="*.js" />
            <mvc:exclude-mapping path="/**.css" />
            <mvc:exclude-mapping path="/**.png" />
            <mvc:exclude-mapping path="/**.ico" />
            <mvc:exclude-mapping path="/**.jpg" />
            <mvc:exclude-mapping path="/**.gif" />
			<bean class="com.ganhuo.app.web.interceptor.FormRepeatSubmitHandlerInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
